body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #272727;
    color: #eaeaea;
    border-bottom: 6px outset #ff8833;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.border-blue {
    border: 1px dotted blue;
}

.card:hover {
    opacity: 0.8;
    background: #122a2e;
    color: #ef864f;
    border-bottom: 6px inset #ef864f;
    transform: rotateZ(5deg);
}
